<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardCtrl as vm">
    <!-- main -->
    <div class="col">
        <div class="bg-primary dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
            <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                <li class="active"><a href>Day</a></li>
                <li><a href ng-click="refreshData()">Week</a></li>
                <li><a href ng-click="refreshData()">Month</a></li>
            </ul>
            <div ui-jq="plot" ui-refresh="d0_1" ui-options="[
          { data: {{d0_1}}, points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }
        ],
        {
          colors: ['{{app.color.info}}', '{{app.color.primary}}'],
          series: { shadowSize: 3 },
          xaxis:{ font: { color: '#FFFFFF' },
                  mode: 'time', timeformat: '%m/%d/%y'},
          yaxis:{ font: { color: '#507b9b' }, max:16 },
          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
          tooltip: true,
          tooltipOpts: { content: 'Number of check in %y on %x.1',  xDateFormat: '%m/%d/%y', defaultTheme: false, shifts: { x: 10, y: -25 } }
        }" style="min-height:360px">
            </div>
        </div>
        <div class="wrapper-md bg-white-only b-b">
            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div>Low <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">1</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>High <i class="fa fa-fw fa-caret-down text-warning text-sm"></i></div>
                    <div class="h2 m-b-sm">5</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Average <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">4.2</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Points <i class="fa fa-fw fa-caret-up text-danger text-sm"></i></div>
                    <div class="h2 m-b-sm">820</div>
                </div>
            </div>
        </div>

        <div class="wrapper-md">
            <div class="row text-center">
                <div class="col-lg-2-4" ng-if="view.userCheckInDetail.body">
                    <div>Body</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: {{view.userCheckInDetail.body}},
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.danger}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-primary h3">{{view.userCheckInDetail.body}}</span>
                        </div>
                    </div>
                    <p>{{view.userCheckInDetail.bodyQuestion}}</p>
                </div>
                <div class="col-lg-2-4" ng-if="view.userCheckInDetail.mind">
                    <div>Mind</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: {{view.userCheckInDetail.mind}},
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 0,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-info h3">{{view.userCheckInDetail.mind}}</span>
                        </div>
                    </div>
                    <p>{{view.userCheckInDetail.mindQuestion}}</p>
                </div>
                <div class="col-lg-2-4" ng-if="view.userCheckInDetail.mood">
                    <div>Mood</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: {{view.userCheckInDetail.mood}},
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.warning}}',
              scaleColor: false,
              size: 115,
              rotate: 180,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-warning h3">{{view.userCheckInDetail.mood}}</span>
                        </div>
                    </div>
                    <p>{{view.userCheckInDetail.moodQuestion}}</p>
                </div>
                <div class="col-lg-2-4" ng-if="view.userCheckInDetail.spirit">
                    <div>Spirit</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: {{view.userCheckInDetail.spirit}},
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.dark}}',
              scaleColor: false,
              size: 115,
              rotate: 180,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-dark h3">{{view.userCheckInDetail.spirit}}</span>
                        </div>
                    </div>
                    <p>{{view.userCheckInDetail.spiritQuestion}}</p>
                </div>
                <div class="col-lg-2-4" ng-if="view.userCheckInDetail.energy">
                    <div>Energy</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: {{view.userCheckInDetail.energy}},
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.success}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-success h3">{{view.userCheckInDetail.energy}}</span>
                        </div>
                    </div>
                   <p>{{view.userCheckInDetail.energyQuestion}}</p> 
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <!-- users -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">
                            <span class="text-xs text-muted pull-right">
                                <i class="fa fa-circle text-primary m-r-xs"></i> 12
                                <i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
                                <i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
                            </span>
                            <h5 class="font-thin m-t-none m-b-none text-muted">Wellness Team</h5>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li class="list-group-item" ng-repeat="item in view.practitioners">
                                <a href class="thumb-sm m-r">
                                    <img ng-src="{{item.imageUrl}}" class="r r-2x">
                                </a>
                                <span class="pull-right label bg-primary inline m-t-sm">{{item.practice}}</span>
                                <a href>{{item.name}}</a>
                            </li>
                            <!--<li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a1.jpg" class="r r-2x">
                                </a>
                                <span class="pull-right label bg-primary inline m-t-sm">Nutritionist</span>
                                <a href>Damon Parker</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a2.jpg" class="r r-2x">
                                </a>
                                <span class="pull-right label bg-info inline m-t-sm">Chiropractor</span>
                                <a href>Joe Waston</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a3.jpg" class="r r-2x">
                                </a>
                                <span class="pull-right label bg-warning inline m-t-sm">Massage Therapist</span>
                                <a href>Jannie Dvis</a>
                            </li>
                            <li class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img src="img/a4.jpg" class="r r-2x">
                                </a>
                                <span class="pull-right label bg-warning inline m-t-sm">Yoga Instructor</span>
                                <a href>Emma Welson</a>
                            </li>-->
                        </ul>
                        <div class="panel-footer">
                            <span class="pull-right badge badge-bg m-t-xs">32</span>
                            <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="list-group list-group-lg list-group-sp">
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                                <img src="img/a4.jpg" alt="...">
                                <i class="on b-white right"></i>
                            </span>
                            <span class="clear">
                                <span>Chris Fox</span>
                                <small class="text-muted clear text-ellipsis">What's up, buddy</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                                <img src="img/a5.jpg" alt="...">
                                <i class="on b-white right"></i>
                            </span>
                            <span class="clear">
                                <span>Amanda Conlan</span>
                                <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                                <img src="img/a6.jpg" alt="...">
                                <i class="busy b-white right"></i>
                            </span>
                            <span class="clear">
                                <span>Dan Doorack</span>
                                <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                                <img src="img/a7.jpg" alt="...">
                                <i class="busy b-white right"></i>
                            </span>
                            <span class="clear">
                                <span>Lauren Taylor</span>
                                <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
                            </span>
                        </a>
                        <a herf class="list-group-item clearfix">
                            <span class="pull-left thumb-sm avatar m-r">
                                <img src="img/a8.jpg" alt="...">
                                <i class="away b-white right"></i>
                            </span>
                            <span class="clear">
                                <span>Mike Jackson</span>
                                <small class="text-muted clear text-ellipsis">This is nice</small>
                            </span>
                        </a>
                    </div>
                </div> -->
            </div>
            <!-- / users -->
        </div>
        <div class="wrapper-md" ng-controller="TodoCtrl">
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">Journal Entry</h1>
            </div>
            <br>
            <div>
                <form id="todo-form" ng-submit="addTodo()">
                    <input placeholder="What's on your mind today?" ng-model="newTodo" autofocus class="form-control input-lg">
                </form>
            </div>
            <div ng-show="todos.length">
                <ul class="nav nav-xs nav-pills m-t m-b">
                    <li ui-sref-active="active">
                        <a ui-sref="app.todo.list({fold:''})">All</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.todo.list({fold:'active'})">Active</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.todo.list({fold:'completed'})">Completed</a>
                    </li>
                </ul>
                <ul class="list-group">
                    <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}" class="list-group-item">
                        <div class="hover-anchor" ng-dblclick="editTodo(todo)" ng-hide="todo.editedTodo">
                            <a ng-click="removeTodo(todo)" class="text-muted hover-action"><i class="icon-close text-md m-t-xs pull-right"></i></a>
                            <label class="i-checks i-checks-sm">
                                <input type="checkbox" ng-model="todo.completed" ng-change="todoCompleted(todo)"><i></i>
                            </label>
                            <span ng-dblclick="editTodo(todo)">{{todo.title}}</span>
                        </div>
                        <form ng-submit="doneEditing(todo)" ng-show="todo.editedTodo">
                            <input class="form-control" ng-trim="false" ng-model="todo.title" ng-blur="doneEditing(todo)" ui-focus="todo.editedTodo">
                        </form>
                    </li>
                </ul>
            </div>
            <div ng-show="todos.length" class="row">
                <div class="col-sm-6">
                    <label class="i-checks i-checks-sm">
                        <input type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)"><i></i> Mark all as complete
                    </label>
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-default btn-xs" ng-click="clearCompletedTodos()" ng-show="remainingCount < todos.length">Clear completed </button>
                    n>
                    <!-- <strong>{{remainingCount}}</strong> -->
                    <
                    <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                </div>
            </div>
        </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-black dk bg-auto">
        <div class="wrapper">
            <div class="m-b-sm text-md">Wellness Team</div>
            <ul class="list-group no-bg no-borders pull-in">
                <li class="list-group-item" ng-repeat="practitioner in view.practitioners">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img ng-src="{{practitioner.imageUrl}}" alt="{{practitioner.name}}" style="height:45px" class="img-circle">
                        <i class="on b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href="javascript:void(0)">{{practitioner.name}}</a></div>
                        <small class="text-muted">{{practitioner.education}}</small>
                    </div>
                </li>
                <!--<li class="list-group-item">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img src="img/a4.jpg" alt="..." class="img-circle">
                        <i class="on b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href>Chris Fox</a></div>
                        <small class="text-muted">Nutritionist</small>
                    </div>
                </li>
                <li class="list-group-item active">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img src="img/a5.jpg" alt="..." class="img-circle">
                        <i class="on b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href>Mogen Polish</a></div>
                        <small class="text-muted">Acupuncturist</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img src="img/a6.jpg" alt="..." class="img-circle">
                        <i class="busy b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href>Joge Lucky</a></div>
                        <small class="text-muted">Massage Therapist</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img src="img/a7.jpg" alt="..." class="img-circle">
                        <i class="away b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href>Folisise Chosielie</a></div>
                        <small class="text-muted">Family Medicine (MD)</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf class="pull-left thumb-sm avatar m-r">
                        <img src="img/a8.jpg" alt="..." class="img-circle">
                        <i class="away b-white bottom"></i>
                    </a>
                    <div class="clear">
                        <div><a href>Aron Gonzalez</a></div>
                        <small class="text-muted">Yoga Instructor</small>
                    </div>
                </li>-->
            </ul>
            <div class="text-center">
                <a href="http://my.telmd.com/?#/apps/contact" class="btn btn-lg btn-primary padder-md m-b">Add More Practitioners</a>
            </div>
        </div>
    </div>
    <!-- / right col -->
</div>
